.Rproj.user
.Rhistory
.RData
.Ruserdata
IgnoreTest.R
IgnoreEmma.R
Q1_data.csv
Q1_data.xlsx
Q1_data.xlsx
Q2_data.xlsx
Q2_data.csv
Q3_data.xlsx
Q3_data.csv
Q4_data.xlsx
Q4_data.csv
TaskData.csv
A.xlsx
B.xlsx
P.xlsx
POP.rds
SouthEast.xlsx
A.csv
B.csv
P.csv
POP.rds
SouthEast.csv